.features {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
  height: 251px;
}

.features__title {
  margin-bottom: 10px;
  font-size: var(--font-size-header-footer-features);
  line-height: 1.14;
  text-transform: uppercase;
}

.features__describe {
  font-size: var(--font-size-header-footer-features);
  color: #757575;
  line-height: 1.74;
}

.feautures__icon {
  display: block;
  height: 120px;
  width: 270px;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
