.features {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
  height: 251px;
}

.features__title {
  @include font_size_color_line_weight(
    var(--font-size-header-footer-features),
    var(--font-heading-color),
    1.14,
    700
  );
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__describe {
  @include font_size_color_line_weight(
    var(--font-size-header-footer-features),
    #757575,
    1.74
  );
}

.feautures__icon {
  display: block;
  height: 120px;
  width: 270px;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
